:root {
    --main-black: #090909;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.button {
    display: inline-block;
    width: 200px;
    text-align: center;
    color: var(--main-black);
    list-style-type: none;
    text-decoration: none;
    line-height: 50px;
    background: rgb(253, 249, 249);
    outline: none;
    background-color: #f8f3f3;
    border: 2px solid var(--main-black);
    -webkit-transition: all .3s;
    transition: all .3s;
    border-radius: 25px;

}

.button:hover {
    color: #f8f0f0;
    border: 2px solid var(--main-black);
    background-color: var(--main-black);

}