.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
      .button { display: inline-block;
          width: 200px;
          text-align: center;
          color: #0a0909;
          list-style-type: none;
          text-decoration: none;
          line-height: 50px;    
          background: rgb(253, 249, 249);
          outline: none;
          background-color: #f8f3f3;
          border:2px solid #100f0f;
          -webkit-transition: all .3s;
          transition: all .3s;
          border-radius: 25px;
      
  }
  
  .button:hover {color: #f8f0f0;
      border:2px solid #0d0d0d;
      background-color: #080707;
  
  }